<mat-nav-list>
  <!--  <div class="profile-card">
       <div class="header">
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Aicha DEBAIEB">
            <h4>Aicha DEBAIEB</h4>
            <h5>example@example.com</h4>
   
   
       </div></div> -->
      



<h3 matSubheadeer>Functionalities </h3>

<a mat-list-item routerLinkActive="List-item-active" routerLink="/robots"><mat-icon>adb</mat-icon>Robots</a>
<a mat-list-item routerLinkActive="List-item-active" routerLink="/posts"><mat-icon>folder_shared</mat-icon>Packages</a>
<a mat-list-item routerLinkActive="List-item-active" routerLink="/environnements"><mat-icon>playlist_add</mat-icon>Environnements</a>
<a mat-list-item routerLinkActive="List-item-active" routerLink="/processus"><mat-icon>share</mat-icon>Processus</a>
<a mat-list-item routerLinkActive="List-item-active" routerLink="/jobs"><mat-icon>play_arrow</mat-icon>Jobs</a>


<mat-divider></mat-divider>
<h3 MatSubheader >Monitoring</h3>

<a mat-list-item routerLinkActive="List-item-active" routerLink=" "><mat-icon>dashboard</mat-icon>Dashboard</a>
<a mat-list-item routerLinkActive="List-item-active" routerLink=" "><mat-icon>visibility</mat-icon>Logs
</a>
</mat-nav-list>