<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="logo">
        <a href="#"><img src="assets/lo.png"></a>
          </div>
  
      <button mat-icon-button (click)="toggleSideBar()">
        <mat-icon>menu</mat-icon>
      </button>

      

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
          <ul fxLayout="row" fxLayoutGap="20px">
                
                <li>
                  <button mat-icon-button>
                    <mat-icon>notification_important</mat-icon>
                  </button> 
                </li>
                <li>
                  <a  id="navbardrop" data-toggle="dropdown">
                    <span>
                      {{securityService.getUsername()}}
                    </span>
                  </a>
                </li>
                <li *ngIf="securityService.isAuthenticated()">
                    <button mat-button [matMenuTriggerFor]="menu">
                     <mat-icon>person_outline</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="onChangePassword()">
                        
                        <mat-icon>settings</mat-icon>
                        change password
                      </button>


                      <button mat-menu-item (click)="onLogout()">
                       <mat-icon>exit_to_app</mat-icon>
                       <a > Logout</a>
                      </button>
                      
                    </mat-menu>
                </li>
            </ul>
        </div>

    </mat-toolbar-row>
</mat-toolbar>
