<div class="modal-process">
    <mat-card>Add a robot </mat-card>
  <mat-divider></mat-divider>
  
  <mat-dialog-content>
    <mat-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup" errorMessage="YOU SHOULD CONNECT THE MACHINE FIRST.">

          <form [formGroup]="firstFormGroup">

            <ng-template matStepLabel>Connect the machine</ng-template>


            <mat-form-field appearance="fill">
              <mat-label>Adress ip</mat-label>
              <input matInput placeholder="Adress ip" formControlName="firstCtrl" required>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Port</mat-label>
                <input matInput placeholder="Port" formControlName="firstCtrl" required>
              </mat-form-field>


              <mat-form-field appearance="fill">
                <mat-label>Domain/username</mat-label>
                <input matInput placeholder="Domain/username" formControlName="firstCtrl" required>
              </mat-form-field>


              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'"    formControlName="firstCtrl" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              </mat-form-field>
            
              <div>
              
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>





        </mat-step>
        <mat-step [stepControl]="secondFormGroup" >
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Deploy a robot</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Robot name</mat-label>
              <input matInput placeholder="Robot name" formControlName="secondCtrl"
                     required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput #message maxlength="256" placeholder="Ex. Finance process includes ...">
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <mat-progress-bar mode="query"></mat-progress-bar>

          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
    </mat-dialog-content> 
  